.sectionContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh);

  background: var(--black-900);

  padding: 5rem 0;

  > h1 {
    margin-bottom: 5rem;
    font-size: 4.5rem;
    line-height: 4.5rem;
    font-weight: 900;
  }
}

.sectionContent {
  min-height: calc(100vh - 20rem);

  background-size: cover;
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 100%;
    height: 100%;
    max-width: 350px;
    border-radius: 50%;
  }

  .paragraph {
    max-width: 600px;

    p {
      font-size: 1.25rem;
      line-height: 2.25rem;
      text-align: justify;
      padding-right: 2rem;
    }
  }
}

@media (max-width: 820px) {
  .sectionContainer {
    > h1 {
      margin-bottom: 2rem;
      //font-size: 3.5rem;
    }
  }

  .sectionContent {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.5rem;

    img {
      margin: 2rem 0;
      max-width: 200px;
      order: 1;
    }
    .paragraph {
      order: 2;
      p {
        padding: 0;
        font-size: 1.25rem;
        line-height: 2.25rem;
      }
    }
  }
}

@media (max-width: 450px) {
  .sectionContainer {
    > h1 {
      margin-bottom: 1.5rem;
     // font-size: 2.5rem;
    }
  }
  .paragraph {
    p {
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }
}